/* with text-overflow the text will overflow it's container instead of breking lines*/
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
}

#pull-to-refresh{
    top: 48px;
    left: 0;
    position: absolute;
    /*100% - 15px prevents the pull to refresh from covering the scrollbar*/
    width: calc(100% - 15px);
    height: calc(100% - 48px);
    opacity: 0;
    z-index: 1;
}

#pull-to-refresh:hover{
    cursor: pointer;
}

.pull--down, .pull--up{
    width: 250px;
    height: 60px;
    top: 75px;
    left: calc(50% - 125px);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pull--down > .up{
    display: none;
}

.pull--up > .down{
    display: none;
}

.pull--down > span, .pull--up > span{
    transition: all .2s;
}

.pull--up > span{
    color: var(--nav-main-color);
}

.pull--up > .material-icons{
    transform: rotateZ(180deg);
}

.reload-animation{
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: -1;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 2s infinite;
}

.reload-animation > .material-icons{
    color: var(--nav-main-color);
}

@keyframes rotate{
    from{
        transform: rotateZ(0deg);
    }to{
        transform: rotateZ(-360deg);
    }
}