/* creating a distance between the table and the navbar*/
.table-data{
    margin-top: 48px;
}

ul{
    list-style: none;

    justify-content: space-around;

    border-bottom: 1px solid var(--table-tertiary-color);
}

.table-header > ul > div{
    flex: 1;

    padding: 16px 0;
}

.table-header > ul > div > span{
    width: 50%;

    color: var(--table-secondary-color);
    font-weight: 500;
    font-size: 12px;
}

.table-body > ul > li{
    flex: 1;
    justify-content: flex-start;

    color: var(--table-main-color);
    font-weight: 400;
    font-size: 13px;

    padding: 16px 0;
}

.table-body > ul > li > div{
    flex: 1;
}

.table-body > ul > li > div > span{
    width: 50%;
}

@media only screen and (max-width: 768px){
    .table-header{
        display: none;
    }

    .table-body > ul:nth-child(odd){
        border-left: 6px solid var(--table-odd-row-color);
    }

    .table-body > ul:nth-child(even){
        border-left: 6px solid var(--table-even-row-color);
    }

    .table-body > ul > li{
        flex-direction: column;

        width: 100%;
    }

    .table-body > ul > li > div > span{
        padding: 16px 0;

        position: relative;

        font-weight: bold;
    }

    .table-body > ul > li > div > span::before{
        content: attr(data-label);

        top: 0;
        left: 0;
        position: absolute;
        
        color: var(--table-secondary-color);
    }
}

/* Column configuration classes */

.table-body > ul > li.one-of-three{
    flex: calc(1 / 3);
}

.table-body > ul > li.two-of-three{
    flex: calc(2 / 3);
}

.table-body > ul > li.one-of-four{
    flex: calc(1 / 4);
}

.table-body > ul > li.two-of-four{
    flex: calc(2 / 4);
}

.table-body > ul > li.three-of-four{
    flex: calc(3 / 4);
}

.table-body > ul > li.one-of-five{
    flex: calc(1 / 5);
}

.table-body > ul > li.two-of-five{
    flex: calc(2 / 5);
}

.table-body > ul > li.three-of-five{
    flex: calc(3 / 5);
}

.table-body > ul > li.four-of-five{
    flex: calc(4 / 5);
}

.table-body > ul > li.one-of-six{
    flex: calc(1 / 6);
}

.table-body > ul > li.two-of-six{
    flex: calc(2 / 6);
}

.table-body > ul > li.three-of-six{
    flex: calc(3 / 6);
}

.table-body > ul > li.four-of-six{
    flex: calc(4 / 6);
}

.table-body > ul > li.five-of-six{
    flex: calc(5 / 6);
}

.table-body > ul > li.one-of-seven{
    flex: calc(1 / 7);
}

.table-body > ul > li.two-of-seven{
    flex: calc(2 / 7);
}

.table-body > ul > li.three-of-seven{
    flex: calc(3 / 7);
}

.table-body > ul > li.four-of-seven{
    flex: calc(4 / 7);
}

.table-body > ul > li.five-of-seven{
    flex: calc(5 / 7);
}

.table-body > ul > li.six-of-seven{
    flex: calc(6 / 7);
}

.table-body > ul > li.one-of-eight{
    flex: calc(1 / 8);
}

.table-body > ul > li.two-of-eight{
    flex: calc(2 / 8);
}

.table-body > ul > li.three-of-eight{
    flex: calc(3 / 8);
}

.table-body > ul > li.four-of-eight{
    flex: calc(4 / 8);
}

.table-body > ul > li.five-of-eight{
    flex: calc(5 / 8);
}

.table-body > ul > li.six-of-eight{
    flex: calc(6 / 8);
}

.table-body > ul > li.seven-of-eight{
    flex: calc(7 / 8);
}

.table-body > ul > li.one-of-nine{
    flex: calc(1 / 9);
}

.table-body > ul > li.two-of-nine{
    flex: calc(2 / 9);
}

.table-body > ul > li.three-of-nine{
    flex: calc(3 / 9);
}

.table-body > ul > li.four-of-nine{
    flex: calc(4 / 9);
}

.table-body > ul > li.five-of-nine{
    flex: calc(5 / 9);
}

.table-body > ul > li.six-of-nine{
    flex: calc(6 / 9);
}

.table-body > ul > li.seven-of-nine{
    flex: calc(7 / 9);
}

.table-body > ul > li.eight-of-nine{
    flex: calc(8 / 9);
}

.table-body > ul > li.one-of-ten{
    flex: calc(1 / 10);
}

.table-body > ul > li.two-of-ten{
    flex: calc(2 / 10);
}

.table-body > ul > li.three-of-ten{
    flex: calc(3 / 10);
}

.table-body > ul > li.four-of-ten{
    flex: calc(4 / 10);
}

.table-body > ul > li.five-of-ten{
    flex: calc(5 / 10);
}

.table-body > ul > li.six-of-ten{
    flex: calc(6 / 10);
}

.table-body > ul > li.seven-of-ten{
    flex: calc(7 / 10);
}

.table-body > ul > li.eight-of-ten{
    flex: calc(8 / 10);
}

.table-body > ul > li.nine-of-ten{
    flex: calc(9 / 10);
}
@media only screen and (max-width: 768px){
    .table-body > ul > li > div.one-of-three{
        flex: calc(1 / 3);
    }

    .table-body > ul > li > div.two-of-three{
        flex: calc(2 / 3);
    }

    .table-body > ul > li > div.one-of-four{
        flex: calc(1 / 4);
    }

    .table-body > ul > li > div.two-of-four{
        flex: calc(2 / 4);
    }

    .table-body > ul > li > div.three-of-four{
        flex: calc(3 / 4);
    }

    .table-body > ul > li > div.one-of-five{
        flex: calc(1 / 5);
    }
    
    .table-body > ul > li > div.two-of-five{
        flex: calc(2 / 5);
    }
    
    .table-body > ul > li > div.three-of-five{
        flex: calc(3 / 5);
    }
    
    .table-body > ul > li > div.four-of-five{
        flex: calc(4 / 5);
    }
    
    .table-body > ul > li > div.one-of-six{
        flex: calc(1 / 6);
    }
    
    .table-body > ul > li > div.two-of-six{
        flex: calc(2 / 6);
    }
    
    .table-body > ul > li > div.three-of-six{
        flex: calc(3 / 6);
    }
    
    .table-body > ul > li > div.four-of-six{
        flex: calc(4 / 6);
    }
    
    .table-body > ul > li > div.five-of-six{
        flex: calc(5 / 6);
    }
    
    .table-body > ul > li > div.one-of-seven{
        flex: calc(1 / 7);
    }
    
    .table-body > ul > li > div.two-of-seven{
        flex: calc(2 / 7);
    }
    
    .table-body > ul > li > div.three-of-seven{
        flex: calc(3 / 7);
    }
    
    .table-body > ul > li > div.four-of-seven{
        flex: calc(4 / 7);
    }
    
    .table-body > ul > li > div.five-of-seven{
        flex: calc(5 / 7);
    }
    
    .table-body > ul > li > div.six-of-seven{
        flex: calc(6 / 7);
    }
    
    .table-body > ul > li > div.one-of-eight{
        flex: calc(1 / 8);
    }
    
    .table-body > ul > li > div.two-of-eight{
        flex: calc(2 / 8);
    }
    
    .table-body > ul > li > div.three-of-eight{
        flex: calc(3 / 8);
    }
    
    .table-body > ul > li > div.four-of-eight{
        flex: calc(4 / 8);
    }
    
    .table-body > ul > li > div.five-of-eight{
        flex: calc(5 / 8);
    }
    
    .table-body > ul > li > div.six-of-eight{
        flex: calc(6 / 8);
    }
    
    .table-body > ul > li > div.seven-of-eight{
        flex: calc(7 / 8);
    }
    
    .table-body > ul > li > div.one-of-nine{
        flex: calc(1 / 9);
    }
    
    .table-body > ul > li > div.two-of-nine{
        flex: calc(2 / 9);
    }
    
    .table-body > ul > li > div.three-of-nine{
        flex: calc(3 / 9);
    }
    
    .table-body > ul > li > div.four-of-nine{
        flex: calc(4 / 9);
    }
    
    .table-body > ul > li > div.five-of-nine{
        flex: calc(5 / 9);
    }
    
    .table-body > ul > li > div.six-of-nine{
        flex: calc(6 / 9);
    }
    
    .table-body > ul > li > div.seven-of-nine{
        flex: calc(7 / 9);
    }
    
    .table-body > ul > li > div.eight-of-nine{
        flex: calc(8 / 9);
    }
    
    .table-body > ul > li > div.one-of-ten{
        flex: calc(1 / 10);
    }
    
    .table-body > ul > li > div.two-of-ten{
        flex: calc(2 / 10);
    }
    
    .table-body > ul > li > div.three-of-ten{
        flex: calc(3 / 10);
    }
    
    .table-body > ul > li > div.four-of-ten{
        flex: calc(4 / 10);
    }
    
    .table-body > ul > li > div.five-of-ten{
        flex: calc(5 / 10);
    }
    
    .table-body > ul > li > div.six-of-ten{
        flex: calc(6 / 10);
    }
    
    .table-body > ul > li > div.seven-of-ten{
        flex: calc(7 / 10);
    }
    
    .table-body > ul > li > div.eight-of-ten{
        flex: calc(8 / 10);
    }
    
    .table-body > ul > li > div.nine-of-ten{
        flex: calc(9 / 10);
    }
}